@import '../palette.scss';
@mixin details-page() {
    :host {
        height: 100%;
        display: flex;
        flex: 1;
        h2 {
            position: absolute;
            margin-top: 25px;
            color: $secondary-text-color;
        }
        .summary {
            margin-left: 16px;
            font-style: italic;
            width: 200px;
            >div {
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                flex: 1;
                label {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    margin: 5px 0;
                }
            }
        }
        .poster-pic {
            border: 1px solid grey;
            height: 278px;
            width: 200px;
            background-color: $secondary-text-color;
            margin-top: 80px;
        }
        .auto-height {
            height: auto;
        }
        mat-tab-group {
            margin-top: 140px;
            margin-left: 16px;
            height: calc(100% - 250px);
            .spacer {
                height: 16px;
            }
            .review-content{
                font-style: italic;
             }
             .card-list-contaier {
                display: flex;
                flex-wrap: wrap;
                mat-card {
                    padding: 0px;
                    margin: 8px;
                    mat-card-content {
                        div {
                            display: flex;
                            flex-direction: column;
                            img {
                                width: 138px;
                                height: 175px;
                            }
                            .default-pic {
                                height: 130px;
                            }
                            span {
                                overflow: hidden;
                                text-align: center;
                                height: 40px;
                                line-height: 20px;
                                width: 138px;
                            }
                        }
                    }
                }
            }
        }
    }
}