   @import '../palette.sass';
   .search-result {
       height: 30px;
       line-height: 30px;
       font-size: 16px;
       display: flex;
   }

   mat-toolbar {
       padding: 20px 15%;
       img {
           height: 102px;
       }
       h2 {
           outline: 0;
           cursor: pointer;
       }
       .toolbar-item-space {
           margin-right: 32px;
       }
       mat-form-field {
           width: 100%;
           margin-right: 50px;
           font-size: 18px;
           font-weight: normal;
           input[type="text"] {
               flex: 1;
               flex-basis: 100%;
               padding-left: 30%;
               height: 50px;
               margin-top: 40px;
           }
           mat-icon {
               margin-right: 8px;
           }
       }
       span {
           font-size: 25px;
       }
       .flex {
           flex-basis: 100%;
       }
       .menu-item {
           font-size: 14px;
           cursor: pointer;
       }
       .language-selections {
           text-align: right;
           display: flex;
           .active {
               background: $accent-color;
               color: $primary-text-color;
           }
           div {
               border: 1px solid $secondary-text-color;
               ;
               padding: 5px;
               border-radius: 30%;
               width: 20px;
               line-height: 20px;
               display: inline-flex;
               cursor: pointer;
               &:first-of-type {
                   margin-right: 8px;
               }
               >span {
                   text-align: center;
                   font-size: 14px;
                   flex: 1;
               }
           }
       }
   }

   .router-outlet-container {
       width: 1000px;
       margin: 0 auto;
       height: calc(100% - 64px);
   }

   .static-background {
       position: absolute;
       background-color: #333333;
       display: flex;
       height: 200px;
       width: 100%;
       z-index: -1;
   }

   @import '../../palette.sass';
   .footer {
       left: 0px;
       bottom: 0px;
       position: absolute;
       width: calc(100% - 60px);
       height: 50px;
       background-color: #333333;
       padding: 30px;
       display: flex;
       .affiliate-logo {
           width: 50px;
           height: 50px;
           margin-right: 32px;
       }
       .footer-info {
           flex: 1;
           text-align: right;
           color: $secondary-text-color;
           font-size: 14px;
           line-height: 50px;
           span {
               margin-right: 32px;
               cursor: pointer;
           }
       }
       .white-backdrop {
           background-color: white;
       }
   }