<mat-toolbar color="primary">
  <img src="../assets/images/movie-book-logo-medium.png">
  <div class="toolbar-item-space">
    <h2 routerLink="/home">MOVIE BOOK</h2>
  </div>
  <div class="flex">
    <span translate class="menu-item">DISCOVER</span>
  </div>
  <div class="language-selections">
    <div (click)="selectLanguage('en')" [ngClass]="{'active': selectedLanguage === 'en'}">
      <span class="flex">en</span>
    </div>
    <div (click)="selectLanguage('fr')"  [ngClass]="{'active': selectedLanguage === 'fr'}">
      <span class="flex">fr</span>
    </div>
  </div>
</mat-toolbar>

<div class="static-background"></div>
<div class="router-outlet-container">
  <router-outlet>
  </router-outlet>
</div>