<div>
    <h2>{{ tvShow.name + ' (' + tvShow.first_air_date.split('-')[0] + ')'}}</h2>
    <img [ngClass]="{'auto-height': !tvShow.poster_path}" class="poster-pic" [src]="getTvShowPosterUrl()">
    <div class="summary">
        <div *ngIf="tvShow.first_air_date">
            <label translate>MOVIE.RELEASED</label>
            <div>{{tvShow.first_air_date | date : 'longDate'}}</div>
        </div>
        <div *ngIf="tvShow.number_of_seasons">
            <label translate>TV.NUMBER_OF_SEASONS</label>
            <div>{{ tvShow.number_of_seasons }}</div>
        </div>
        <div *ngIf="tvShow.next_episode_to_air">
            <label translate>TV.FIRST_AIR_DATE</label>
            <div>{{ tvShow.next_episode_to_air.air_date | date : 'longDate' }}</div>
        </div>
        <div *ngIf="tvShow.vote_average">
            <label translate>AVERAGE_VOTE</label>
            <div>{{ tvShow.vote_average}}</div>
        </div>
    </div>
</div>
<div>
    <mat-tab-group>
        <mat-tab label="{{'OVERVIEW' | translate }}">
            <div class="spacer"></div>
            <span>{{ tvShow.overview }}</span>
        </mat-tab>
        <mat-tab label="{{'CAST' | translate }}">
            <div class="spacer"></div>
            <div class="card-list-contaier">
                <mat-card class="pointerCursor" routerLink="/person/{{castMember.id}}" *ngFor="let castMember of tvShow.credits.cast">
                    <mat-card-content>
                        <div>
                            <img [src]="getCastMemberSmallPhotoUrl(castMember.profile_path)">
                            <span>{{ castMember.name }}</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab *ngIf="tvShow.reviews.results.length > 0" label="Latest Reviews">
            <div class="spacer"></div>
            <mat-card *ngFor="let review of tvShow.reviews.results">
                <div>
                    <span class="review-content">{{'"' + review.content + '"' }}</span>
                    <span class="bold">{{ ' - ' + review.author }}</span>
                </div>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>