:host {
    display: flex;
    h2 {
        position: absolute;
    }
    .tv-show-summary {
        margin-left: 16px;
        font-style: italic;
        width: 200px;
        >div {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            flex: 1;
            label {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                margin: 5px 0;
            }
        }
    }
    .tv-show-poster-pic {
        border: 1px solid grey;
        height: 278px;
        margin-top: 60px;
        background-color: white;
        width: 200px;
    }
    .auto-height {
        height: auto;
    }
    mat-tab-group {
        margin-left: 16px;
        margin-top: 140px;
        .spacer {
            height: 16px;
        }
        .cast-contaier {
            display: flex;
            flex-wrap: wrap;
            mat-card {
                padding: 0px;
                margin: 8px;
                mat-card-content {
                    .review-content {
                        font-style: italic;
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        img {
                            width: 138px;
                            height: 175px;
                        }
                        span {
                            margin: auto;
                            height: 30px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}