<app-entertainment-tile [(moviesInTheatres)]="moviesInTheatres" [(onAirTvShows)]="onAirTvShows">
</app-entertainment-tile>
<div class="footer">
    <img class="affiliate-logo " src="../../assets/images/tmdb_logo.png">
    <img class="affiliate-logo" src="../../assets/images/material_logo.png">
    <img class="affiliate-logo white-backdrop" src="../../assets/images/typescript_logo.svg">
    <img class="affiliate-logo" src="../../assets/images/html5_logo.png">
    <img class="affiliate-logo" src="../../assets/images/webpack_logo.png">
    <img class="affiliate-logo"  src="../../assets/images/sass_logo.png" >
    <div class="footer-info">
        <span>ABOUT</span>
        <span>TERMS</span>
        <span>CONTACT</span>
    </div>
</div>