//@import "../../globals";

:host {
  display: flex;
  flex-direction: column;

  input[type="text"] {
    flex: 1;
    padding-left: 30%;
    font-size: 22px;
    height: 50px;
  }

  .latest-entertainment-container {
    padding-top:  20px;
    display: flex;
    width: 1000px;
    height: 500px;
    margin: auto;
    cursor:  pointer;

    .on-air-container {
      flex-direction: column;
      display: flex;
    }

    .in-theatres-container {
      flex-direction: column;
      display: flex;
    }

    .poster {
      width: 500px;
      height: 281px;
    }

    .inline-images {
      display: flex;

      img {
        width: 50%;
      }
    }
  }
}