:host {
    display: flex;
    .movie-summary {
        display: flex;
        color: white;
        margin-top: 80px;
        margin-left: 16px;
    }
    .movie-poster-pic {
        border: 1px solid grey;
        height: 278px;
    }
    mat-tab-group {
        margin-top: 24px;
        margin-left: 16px;
        .spacer {
            height: 16px;
        }
        .cast-contaier {
            display: flex;
            flex-wrap: wrap;
            mat-card {
                padding: 0px;
                margin: 8px;
                mat-card-content {
                    .review-content {
                        font-style: italic;
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        img {
                            width: 138px;
                            height: 175px;
                        }
                        span {
                            margin: auto;
                            height: 30px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}